/dotfiles/dot.bundle/cache/
/dotfiles/dot.config/git/*.local
/dotfiles/dot.config/vim/local.dein.vim
/dotfiles/dot.config/vim/local.pre.vim
/dotfiles/dot.config/vim/local.vim
/dotfiles/dot.w3m/history
/dotfiles/dot.w3m/cookie
/dotfiles/dot.vim/pack/*
!/dotfiles/dot.vim/pack/personal/
/firefox/vimperator/info
